In [2]:
%matplotlib inline
import seaborn as sns; #sns.set(style="ticks", color_codes=True)
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import scipy
style.use('fast')
from datetime import datetime
from io import StringIO
import re
import numpy as np
import os
from tqdm import tqdm
import json as js
import codecs

In [3]:

sns.set_style('ticks',{'legend.frameon':True} )
sns.set_palette('colorblind')
FIG_SIZE = (12, 3)
font = {'family' : 'Times New Roman',
        'weight' : 'bold',
        'size'   : 22}
plt.rc('font', **font)
plt.rcParams['pdf.fonttype'] = 42
plt.rcParams['ps.fonttype'] = 42
plt.rcParams['text.usetex'] = True

plt.rcParams['xtick.labelsize'] = 18
plt.rcParams['ytick.labelsize'] = 22
plt.rcParams['axes.labelsize']= 22

# IMAGES THAT MAKE USE OF NODE

In [5]:
# Take all images layers
official_layers=pd.read_csv('../../docker/csv/layers_official_23MARCH.csv', sep=';', dtype=object, index_col=None,  error_bad_lines=False)
official_layers['level']=official_layers['level'].apply(int)
official_layers=(official_layers.
                 #query('slug=="node"').
                 assign(created = lambda x: x['created'].apply(lambda d: d.split('T')[0]))
                )
print(len(official_layers))
official_layers.head()

148364

,slug,tag,created,layer,level
0,tomcat,8.0.37-jre7,2016-09-23,sha256:6a5a5368e0c2d3e5909184fa28ddfd56072e7ff...,1
1,tomcat,8.0.37-jre7,2016-09-23,sha256:7b9457ec39de00bc70af1c9631b9ae6ede5a3ab...,2
2,tomcat,8.0.37-jre7,2016-09-23,sha256:d5cc639e6fca6aa608423c71badb1c40bacbd0b...,3
3,tomcat,8.0.37-jre7,2016-09-23,sha256:dae3b0638638646d213f6edc2c16e52ddb60e20...,4
4,tomcat,8.0.37-jre7,2016-09-23,sha256:ab678d1c6f004857bf4dbca219e8111b0a56993...,5

In [8]:
official_layers=(official_layers.
                 groupby(['slug','tag','created']).
                 agg({ 'layer': lambda x: ','.join(x)})
                )

In [9]:
len(official_layers[['layer']].drop_duplicates())

8891

In [ ]:
official_layers

In [45]:
# Remove duplicates and get only those who were last updated
official_layers=(official_layers.
                 groupby(['slug','tag','created']).
                 agg({ 'layer': lambda x: ','.join(x)}).
                 drop_duplicates().
                 reset_index()
                 #drop(['layer'], axis=1)
                )
node_layers=official_layers.query('slug=="node"')
print(len(official_layers),len(node_layers))
official_layers.head(2)

8891 869

,slug,tag,created,layer
0,adminer,4,2018-03-23,sha256:605ce1bd3f3164f2949a30501cc596f52a72de0...
1,adminer,4-fastcgi,2018-03-23,sha256:605ce1bd3f3164f2949a30501cc596f52a72de0...

In [61]:
node_layers=node_layers.rename(columns={'slug':'slug_node','tag':'tag_node','layer':'layer_node'})
node_layers=node_layers.drop(['created'], axis=1)
node_layers.head(2)

     slug_node   tag_node                                         layer_node
4290      node          0  sha256:75a822cd7888e394c49828b951061402d31745f...
4291      node  0-onbuild  sha256:75a822cd7888e394c49828b951061402d31745f...

In [70]:
# This may take some time
official_layers['tmp']=1
node_layers['tmp']=1

node_other=pd.merge(official_layers,node_layers, on=['tmp'])
node_other['node']=node_other[['layer_node','layer']].apply(lambda d: d['layer_node'] in d['layer'], axis=1)
node_other=node_other.query('node==True')
node_other.drop(['tmp','layer_node'], axis=1, inplace=True)
node_other.to_csv('../../npm_docker/csv/images_use_node.csv', index=False, sep=";")

In [3]:
node_other=pd.read_csv('../../npm_docker/csv/images_use_node.csv', index_col=None, sep=";")
node_other.drop(['slug_node','tag_node','node'], axis=1, inplace=True)
node_other=node_other.set_index(['slug','tag','created']).drop_duplicates()
#node_other=node_other.query('created<"2018-01-01"')
node_other.groupby(['slug']).count()

               layer
slug
ghost             75
mongo-express     17
node             869

In [6]:
#node_other.reset_index()[['slug','tag']].to_csv('../../npm_docker/csv/images_node.csv', index=False, sep=";")

# PARSE PACKAGES and Vulnerabilities

In [5]:
docker_package=pd.read_csv('../../npm_docker/csv/packages_from_anchor.csv', sep=';', dtype=object, index_col=None,  error_bad_lines=False)
docker_package.drop_duplicates(inplace=True)
print(len(docker_package))
docker_package['tag']=docker_package['slug']+':'+docker_package['tag']
docker_package.head(2)

296699

    slug      tag    package version base_os base_od_version
0  ghost  ghost:0       once   1.4.0  debian               8
1  ghost  ghost:0  validator   8.2.0  debian               8

In [5]:
vulnerabilities=pd.read_csv('../../npm_docker/csv/vulnerabilities.csv', sep=';', dtype=object, index_col=None,  error_bad_lines=False)
print(len(vulnerabilities))
vulnerabilities.head(2)

1099

,Id,Name,Package,Published,Severity,Versions,Disclosed
0,npm:http-fetch-cookies:20180502,Malicious Package,http-fetch-cookies,"03 May, 2018",high,*,"02 May, 2018"
1,npm:getcookies:20180502,Malicious Package,getcookies,"03 May, 2018",high,*,"02 May, 2018"

In [12]:
vulnerabilities.query('Package=="ungit"')

,Id,Name,Package,Published,Severity,Versions,Disclosed
1063,npm:ungit:20150122,Command Injection,ungit,"22 Jan, 2015",medium,<=0.8.4,"22 Jan, 2015"

In [51]:
len(docker_package.groupby(['slug','tag']).count())

961

In [54]:
docker_package.groupby(['slug']).count()

                  tag  package  version  base_os  base_od_version
slug
ghost          213791   213353   213791   213791           213791
mongo-express   15377    15377    15377    15377            15377
node           244181   244181   244181   244181           244181

In [56]:
docker_package.groupby(['base_os','base_od_version']).count()

                           slug     tag  package  version
base_os base_od_version
alpine  3.4.4              1277    1277     1277     1277
        3.4.6            127775  127775   127533   127775
        3.6.0              1045    1045     1045     1045
        3.6.2             13696   13696    13696    13696
debian  0                  1983    1983     1983     1983
        7                 49654   49654    49654    49654
        8                261633  261633   261437   261633
        9                 16286   16286    16286    16286

In [75]:
x=0
for n in docker_package['package'].drop_duplicates().isin(vulnerabilities['Package'].values):
    if n:
        x=x+1

In [82]:
mask = docker_package['package'].isin(vulnerabilities['Package'].values)
vul_packages=docker_package[mask]

In [85]:
len(vul_packages.groupby('tag').count())

961

In [5]:
# Use only once: Skip
import codecs
vulnerabilities=js.load(codecs.open('../../docker/csv/security-debian_1April.json', 'r', 'utf-8'))
vulnerabilities['shadow']['CVE-2017-12424']['releases']['jessie']

{'nodsa': 'Minor issue',
 'nodsa_reason': '',
 'repositories': {'jessie': '1:4.2-3+deb8u4',
  'jessie-security': '1:4.2-3+deb8u4'},
 'status': 'open',
 'urgency': 'high**'}

In [14]:
vuls={}
for c in vulnerabilities:
    vuls[c]=len(vulnerabilities[c])

In [20]:
d={'package': list(vuls.keys()), 'vuls': list(vuls.values())}
df = pd.DataFrame(data=d)

In [27]:
df.sort_values(['vuls'], ascending=False).query("package=='mysql-5.5'")

        package  vuls
1795  mysql-5.5   452

In [8]:
l=0
for c in vulnerabilities:
    l=l+len(vulnerabilities[c])
l

28593

In [7]:
import pandas as pd
import subprocess

## LOAD VERSIONS
versions=pd.read_csv('../../jsep2018/versions_npm_march.csv', sep=';', dtype=object, index_col=None,  error_bad_lines=False)
for x in versions:
    versions[x]=versions[x].apply(str)
versions=versions.sort_values(['package','date','version'],ascending=True)

## LOAD DEPENDENCIES
dependencies=pd.read_csv('../../jsep2018/dependencies_npm_march.csv', sep=';', dtype=object, index_col=None,  error_bad_lines=False)
for x in dependencies:
    dependencies[x]=dependencies[x].apply(str)

def semver(constraint, versions):
    """
    Return the versions in ``versions'' that satisfy given constraint.
    Semantic is provided by the semver tool of nodejs.
    """
    args = ['semver', '-r', constraint] + list(versions)
    
    completed = subprocess.run(args, stdout=subprocess.PIPE)
    if completed.returncode == 0:
        return completed.stdout.decode().strip().split('\n')
    else:
        return []
    
def rigt_version(dependency,date,constraint):
    try:
        tmp=versions.query('package=="'+dependency+'"')
        last_today=tmp.version.values[-1]

        tmp=tmp.query('date<="'+date+'"')
        last=tmp.version.values[-1]

        return semver(constraint,tmp.version.values)[-1]+'|'+last+'|'+last_today
    except:
        return 'undefined'
    

def main():
    print('start')
    for i in range(0,52842):
        tmp=dependencies.iloc[i:i+10]
        tmp["right_version"]=tmp.apply(lambda d: rigt_version(d['dependency'],
                                             d['date'],
                                             d['constraint']),
                                                         axis=1)
        tmp.to_csv('../../../remove/remove_now_'+str(i), sep=';', index=False)
        if i == 3:
            break
    
main()

start

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [48]:
len(dependencies.dependency.drop_duplicates())

281352

In [51]:
for index, row in enumerate(dependencies.iterrows()):
    print(row[1]['dependency'])
    break

tap

In [52]:
tmp=dependencies.iloc[0:1]

In [56]:
tmp.version.values[0]

'0.0.1'

In [57]:
len(dependencies[['dependency','date','constraint']].drop_duplicates())

14182892

In [58]:
dependencies[['dependency','date','constraint']].drop_duplicates()

,package,version,dependency,kind,constraint,date,release_type
0,0-,0.0.1,tap,Development,^6.3.2,2017-03-06,initial
1,0-0,1.0.2,gulp,runtime,*,2016-12-04,initial
2,0-9,0.0.1,tap,Development,^6.3.2,2017-03-06,initial
3,0.,1.0.0,request,runtime,^2.79.0,2017-02-07,initial
4,0.0.0-development,1.0.0,eslint-loader,runtime,^1.7.1,2017-11-25,initial

In [59]:
deps=dependencies[['dependency','date','constraint']].drop_duplicates()

In [60]:
deps.to_csv('../../jsep2018/dependencies_unique_npm_march.csv', sep=";", index=False)